html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: "Parisienne", cursive;
  }
  
  body {
    min-height: 100vh;
    padding: 1.875rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background-color: #262626;
    overflow: hidden;
    transition: background 0.6s 0.2s;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: inherit;
    font-family: inherit;
  }
  
  img {
    width: 100%;
    display: block;
  }
  
  :root {
    --titleColor: #c93384;
    --titleColor2: #e4dd4f;
    --bgColor: #ffe469;
    --textBg: #ff97d9;
    --cardColor: #ffc1ff;
  }
  
  .gift__title {
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    z-index: 1;
    font-size: 1.8rem;
    color: var(--bgColor);
    transition: opacity 0.5s;
  }
  .yellow__flowers {
    transition: opacity 1.5s 1s;
    transform: scale(0);
  }
  .yellow__flowers span {
    display: block;
    text-align: center;
    cursor: default;
    z-index: 1;
    font-size: 2rem;
    font-weight: 600;
    color: var(--titleColor);
    transition: opacity 0.5s;
  }
  
  .hearts__bg {
    width: 88%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--titleColor2);
    user-select: none;
  }

  .hearts__bg .row__1 i, .hearts__bg .row__3 i {
    margin: 0 1.25rem;
    font-size: 1.575rem;
    animation: heart 1s infinite;
  }
  .hearts__bg .row__1 i:nth-child(2n+2), .hearts__bg .row__3 i:nth-child(2n+2) {
    transform: translate(-10px, 20px);
    font-size: 1.2rem;
    animation-duration: 0.8s;
  }
  .hearts__bg .row__3 {
    margin-top: 13.75rem;
  }
  .hearts__bg .row__2, .hearts__bg .row__4 {
    margin-top: 2.1875rem;
    animation: heart 0.5s infinite;
  }
  .hearts__bg .row__2 i, .hearts__bg .row__4 i {
    margin: 0 3.4375rem 0 2.8125rem;
  }
  
  .gift__opened {
    background: var(--bgColor);
  }
  
  .opened {
    transform: scale(.8);
  }
  
  .hide {
    opacity: 0;
  }
  .hide__display {
    display: none;
  }
  
  .show__card {
    opacity: 1;
    animation: showCard 2s 1s;
  }
  
  @keyframes heart {
    100% {
      opacity: 0.5;
    }
  }
  @keyframes openGift {
    50% {
      transform: rotateX(-30deg) rotateY(-45deg) translateY(-80px);
    }
    100% {
      transform: rotateX(-30deg) rotateY(-45deg) translateX(200px) translateZ(-200px);
    }
  }
  @keyframes showCard {
    0% {
        transform: scale(0);
    }

    100% {
      transform: scale(.8);
    }
  }
  